---
const year = new Date().getFullYear();
---

<footer class="border-t border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-950 py-12">
  <div class="mx-auto max-w-7xl px-6">
    <div class="text-center text-sm text-gray-600 dark:text-gray-400">
      <p>
        &copy; Copyright {year} Zakawat Abbas. Built with
        <a href="https://react.dev/" target="_blank" class="text-blue-900 hover:underline">React Js</a>.
         Hosted on GitHub Pages.
      </p>
    </div>
  </div>
</footer>
